#tech{
    font-size: 100px;
    color:blue;
    font-weight: bold;
    text-shadow: 155 23 233;
    font-family: Arial, Helvetica, sans-serif;
}
#bannerwords{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    width: 100%;
    padding: 2%;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

#body{
    height: 100%;
    width: 100%;
    background: white;
}

#logo{
    display: inline-block;
    width: 40%;
}

#loginform {
    float: right;
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

#loginform form input{
    border: 2px solid black;
}

#form {
    width: 100%;
}

#logoimg {
    width: 25%;
}

input{
    border-radius: 100px;
    text-align: center;
}


input {
    height: 2em;
    border-radius: 100px;
    text-align: center;
}

.third {
    vertical-align: top;
    width: 32%;
    height: 100%;
    display: inline-block;
}

#validate {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    color: white;
    display: inline-block;
    border-radius: 20px;
    padding: 1.5%;
}

#validate:hover {
    border-radius: 0px;
}