.techdimg{
  width: 5%;
  }

  .prof-image {
margin: 0;
  width: 30%;
  height: 50%;
  }

  .summary {
    position: relative;
    width: 30%;
    margin: 0 10% 0 0;
    border: 1px solid rgb(0, 0, 0);
    -moz-box-shadow: inset 0 0 10px rgb(63, 57, 57);
    -webkit-box-shadow: inset 0 0 10px rgb(63, 57, 57);
    box-shadow: inset 0 0 12px rgb(63, 57, 57);
    }